doctype html
html
    head
        title="Sign in"
        style
            include ../style.css
    body
        p.login Please sign in
        a(href='http://localhost:3000/auth/google') 
            button Sign in